:root {
    --primary-color40: #9FB5EA;
    --primary-color: #0E47CB;
    --primary-color160: #0A328E;
    --secondary-color: #FFCC00;
    --secondary-color80: #FFD633;
    --tertiary-color: #D4D5D7;
    --tertiary-color40: #A8AAAF;
    --font-primary: 'Source Sans 3', sans-serif;
    --font-header: 'Merriweather', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
    font-weight: 700;
}

h1 {
    font-size: clamp(2.25rem, 5vw, 2.625rem)
}

h2 {
    font-size: clamp(1.75, 4vw, 2.25rem);
}

p {
    font-family: var(--font-primary);
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.25rem);
}

header {
    position: fixed;
    top: 0;
    height: 5vw;
    width: 100%;
    box-sizing: border-box;
    background-color: color-mix(in srgb, var(--tertiary-color) 75%, transparent);
    padding-right: 7.5%;
    padding-left: 2.5%;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
    z-index: 1000;
}

header.hide {
  transform: translateY(-100%);
}

#logoEUSPI {
    height: 80%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6rem;
}

nav a {
    font-family: var(--font-header);
    text-decoration: none;
    color: black;
    font-size: clamp(1rem, 2.5vw, 3.2rem);
}

#heroSection {
    position: absolute;
    top: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

#hero-content {
    position: relative;
    margin-top: 35vh;
    overflow: hidden;
    color: white;
    width: 100%;
}

#heroSection .vector {
    position: relative;
    left: 0;
    width: 1920px;
    height: fit-content;
    object-fit: cover;
    object-position: left;
}

#vector1 {
    top: 0;
    z-index: -1;
}

#vector2 {
    bottom: 0;
}

#hero-text {
    text-align: left;
    margin-left: 200px;
    margin-top: -175px;
    width: 520px;
    z-index: 1;
}

#hero-text p {
    margin-top: -1rem;
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.25rem);
    line-height: 1.5;
}

#bg-image {
    width: 100%;
    height: 65%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#bg-image img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(80%);
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -2;
    top: 0;
}

#heroBuffer {
    height: 180px;
    top: 0;
    background-color: var(--primary-color160);
    margin-bottom: -1px;
    margin-top: -127px;
    width: 1920px;
}

.buttonCTA {
    position: relative;
    background-color: var(--secondary-color);
    font-size: clamp(1.5rem, 1.75rem, 2rem);
    height: clamp(1.7rem, 5rem, 6rem);
    border-radius: clamp(0.5rem, 2rem, 3rem);
    font-weight: 400;
    min-width: fit-content;
    max-width: 100%;
    width: 90%;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

#description {
    position: relative;
    margin-top: 95vh;
    margin-left: 5vw;
    width: 90vw;
    overflow: hidden;
    border-top: var(--secondary-color) 5px solid;
    border-bottom: var(--secondary-color) 5px solid;
    height: 500px;
}

#eu-background {
    width: 1920px;
    height: auto;
    object-fit: cover;
}

#description-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 100%;
    background-color: color-mix(in srgb, var(--tertiary-color) 75%, transparent);
    padding: 5rem;
    box-sizing: border-box;
    align-content: center;
}

#description-content p {
    margin-top: -1rem;
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.25rem);
    line-height: 1.5;
}

#description-content h1 {
    text-align: center;
}

.section-header {
    margin-top: 5rem;
    color: white;
    background-color: var(--primary-color160);
    height: clamp(5rem, 6rem, 7rem);
    text-align: center;
    align-content: center;
}

.section-header h1 {
    line-height: 0;
    margin: 0;
}

#map-and-control {
    width: 100%;
    height: 90vh;
    display: flex;
}

#map {
    width: 70%;
    height: 100%;
}

#control-bar {
    width: 30%;
    height: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: black 2px solid;
}

#button-panel {
    width: 100%;
    display: flex;
    justify-content: end;
}

#button-panel button {
    background-color: transparent;
    border-radius: 25%;
    width: min-content;
    padding: 0;
    height: min-content;
    border: none;
    margin: 1rem;
}

#control-bar select {
    margin: 0;
    margin-top: 2.5%;
}

#legendMap {
    width: 90%;
    column-count: 2;
    align-items: center;
    max-height: 30%;
    margin: 0;
}

#legendMap .legendCat {
    margin: 0;
}

#legendMap .legendBox {
    height: 2.5cqb;
    width: 2.5cqb;
    margin: 5px;
    border-radius: 0.25rem;
}

#legendMap p {
    font-size: 1.5cqb;
}

#region-graph {
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 45%;
}

#barChartTitle {
    margin: 0;
    margin-bottom: 2.5%;
    height: 5%;
}

#barChartRegion {
    width: 100%;
    height: 92.5%;
    margin-top: 0;
}

select {
    border: none;
    height: clamp(2.4rem, 3vw + 1rem, 2.5rem);
    border-radius: 0.8rem;
    text-align: center;
    min-width: fit-content;
    width: 60%;
    margin: 1rem;
}

#regionLink {
    border: var(--primary-color160) 1px solid;
    font-size: clamp(1rem, 1.1vw + 0.5rem, 1.2rem);
    height: clamp(2.4rem, 3vw + 1rem, 2.5rem);
    min-width: fit-content;
    width: 50%;
    border-radius: 1.2rem;
}

#static-profile {
    margin-left: 2vw;
    width: 94vw;
}

.line-break {
    width: 100%;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    margin-top: -1.75rem;
}

.subtitle {
    margin-top: 0;
    font-size: 1.75rem;
}

.chart-box {
    width: 100%;
    background-color: var(--tertiary-color);
    border-radius: 2rem;
    height: 85vh;
    display: flex;
}

#static-profile-chart {
    flex-direction: column;
}

#cluster-legend {
    display: flex;
}

.legendBox {
    height: 2rem;
    width: 2rem;
    margin: 5px;
    border-radius: 0.25rem;
}

.legendCat {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.legendCat p {
    font-size: clamp(0.5rem, 1.2vw + 0.5rem, 1.25rem);
}

#distribution-plot {
    margin-left: 2vw;
    width: 94vw;
}

#boxPlotCluster {
    width: 70%;
    height: 100%;
}

#box-plot-controls {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-left: black 2px solid;
}

#propertySelectBoxPlot {
    margin-bottom: 5rem;
}

#box-plot-controls fieldset {
    width: 100%;
    box-sizing: border-box;
    border: none;
}

fieldset select {
    margin-top: 0;
}

#barChartCluster {
    width: 100%;
    height: 85%;
}